{
  "presets": [
    "@babel/preset-flow",
    "react-app",
    ["@babel/preset-env", {"targets": {"node": "current"}}]
  ],
  "plugins": [
    ["symlink-import"],
    "babel-plugin-add-module-exports",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-export-default-from",
    "@babel/plugin-transform-runtime",
    ["babel-plugin-root-import", {
      "rootPathPrefix": "~",
      "rootPathSuffix": "src"
    }]
  ]
}